body {
    background-color: #C69774;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
}

footer {
    display: flex;
    justify-content: flex-end;
}

footer img{
    float: right;
    max-width: 10%;
    height: auto;
    margin-top: 10px;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;

}

hr {
    background-color: #8b4513 ;
    border-color: #8b4513;
    border-radius: 10px;
}